/*------------------------------------------------------------------------------------*/
/*--------------------------------  GLOBAL CSS STYLE  --------------------------------*/
@font-face {
    font-family: 'AvenirLTStd-Book';
    src: url('../fonts/Avenir/AvenirLTStd-Book.otf');
}
html { min-height: 100%; width: 100%; font-size: 100% }
body { font-size: 100%; height: 100%; width: 100%}
body {font-family: 'AvenirLTStd-Book', sans-serif !important;font-size: 14px;color: #808080;font-weight: normal;overflow-x: hidden;line-height: 25px;}
.wrapper { width: 100%; height: 100%;}

.list-style-none{list-style-type: none; list-style: none; margin: 0;padding: 0;}
/****  Margin  ****/
.m-auto {margin:auto;}
.m-0 {margin:0 !important;}
.m-5 {margin:5px !important;}
.m-10 {margin:10px !important;}
.m-20 {margin:20px !important;}
.m-50 {margin:50px !important;}

/****  Margin Top  ****/
.m-t-0 {margin-top:0px !important;}
.m-t-5{margin-top:5px !important; }
.m-t-10{margin-top:10px !important;}
.m-t-20{margin-top:20px !important;}
.m-t-30{margin-top:30px !important;}
.m-t-40{margin-top:40px !important;}
.m-t-60{margin-top:60px !important;}
.m-t-100{margin-top:100px !important;}

/****  Margin Bottom  ****/
.m-b-0 {margin-bottom:0px !important;}
.m-b-5 {margin-bottom:5px !important;}
.m-b-6 {margin-bottom:6px !important;}
.m-b-10 {margin-bottom:10px !important;}
.m-b-12 {margin-bottom:12px !important;}
.m-b-15 {margin-bottom:15px !important;}
.m-b-20 {margin-bottom:20px !important;}
.m-b-30 {margin-bottom:30px !important;}
.m-b-40 {margin-bottom:40px !important;}
.m-b-60 {margin-bottom:60px !important;}
.m-b-80 {margin-bottom:80px !important;}
.m-b-140{margin-bottom:140px !important;}
.m-b-80 {margin-bottom:80px !important;}
.m-b-245 {margin-bottom:245px !important;}
.m-b-245 {margin-bottom:245px !important;}
.m-b-m30 {margin-bottom:-30px !important;}
.m-b-m50 {margin-bottom:-50px !important;}

/****  Margin Left  ****/
.m-l-0 {margin-left:0px !important;}
.m-l-5 {margin-left:5px !important;}
.m-l-10 {margin-left:10px !important;}
.m-l-20 {margin-left:20px !important;}
.m-l-30 {margin-left:30px !important;}
.m-l-60 {margin-left:60px !important;}

/****  Margin Right  ****/
.m-r-0 {margin-right:0px !important;}
.m-r-3 {margin-right:3px !important;}
.m-r-5 {margin-right:5px !important;}
.m-r-10 {margin-right:10px !important;}
.m-r-20 {margin-right:20px !important;}
.m-r-30 {margin-right:30px !important;}
.m-r-60 {margin-right:60px !important;}

/****  Padding  ****/
.p-0 {padding:0 !important;}
.p-5 {padding:5px !important;}
.p-10 {padding:10px !important;}
.p-15 {padding:15px !important;}
.p-20 {padding:20px !important;}
.p-30 {padding:30px !important;}
.p-40 {padding:40px !important;}

/****  Padding Top  ****/
.p-t-0 {padding-top:0 !important;}
.p-t-10 {padding-top:10px !important;}
.p-t-15 {padding-top:15px !important;}
.p-t-20 {padding-top:20px !important}
.p-t-30 {padding-top:30px !important;}
.h-t-48 {padding-top: 48px !important;}
.p-t-50 {padding-top:50px !important;}
.p-t-60 {padding-top:60px !important;}
.p-t-80 {padding-top:80px !important;}
.p-t-100 {padding-top:100px !important;}
.p-t-140 {padding-top:140px !important;}
/****  Padding Bottom  ****/
.p-b-0 {padding-bottom:0 !important;}
.p-b-10 {padding-bottom:10px !important;}
.p-b-15 {padding-bottom:15px !important;}
.p-b-20 {padding-bottom:20px !important;}
.p-b-30 {padding-bottom:30px !important;}
.p-b-50 {padding-bottom:50px !important;}
.p-b-80 {padding-bottom:80px !important;}

/****  Padding Left  ****/
.p-l-0{padding-left:0px !important;}
.p-l-1{padding-left:1px !important;}
.p-l-3 {padding-left:3px !important;}
.p-l-5 {padding-left:5px !important;}
.p-l-10 {padding-left:10px !important;}
.p-l-20 {padding-left:20px !important;}
.p-l-30 {padding-left:30px !important;}
.p-l-40 {padding-left:40px !important;}
.p-l-50 {padding-left:50px !important;}
/* Padding Right  ****/
.p-r-0{padding-right:0px !important;}
.p-r-1{padding-right:1px !important;}
.p-r-3 {padding-right:3px !important;}
.p-r-5 {padding-right:5px !important;}
.p-r-10 {padding-right:10px !important;}
.p-r-20 {padding-right:20px !important;}
.p-r-30 {padding-right:30px !important;}
.p-r-50 {padding-right:50px !important;}

/****  Top  ****/
.t-0 {top:0; }
.t-5 {top:5px; }
.t-10 {top:10px; }
.t-15 {top:15px; }
.t-10p{top: 10%;}
.t-50p{top: 50%;}

/****  Bottom  ****/
.b-0 {bottom:0; }
.b-5 {bottom:5px; }
.b-10 {bottom:10px; }
.b-15 {bottom:15px; }
.b-30 {bottom:30px; }
.b-40 {bottom:30px; }
.b-50 {bottom:50px; }

/****  Left  ****/
.l-0 {left:0; }
.l-5 {left:5px; }
.l-10 {left:10px; }
.l-15 {left:15px; }

/****  Right  ****/
.r-0 {right:0; }
.r-5 {right:5px; }
.r-10 {right:10px; }
.r-15 {right:15px; }

/****  Border Radius  ****/
.bd-0{-moz-border-radius: 0 !important;-webkit-border-radius: 0 !important;border-radius: 0 !important;}
.bd-3{-moz-border-radius: 3px !important;-webkit-border-radius: 3px !important;border-radius: 3px !important;}
.bd-4{-moz-border-radius: 4px !important;-webkit-border-radius: 4px !important;border-radius: 4px !important;}
.bd-6{-moz-border-radius: 6px !important;-webkit-border-radius: 6px !important;border-radius: 6px !important;}
.bd-9{-moz-border-radius: 9px !important;-webkit-border-radius: 9px !important;border-radius: 9px !important;}
.bd-20{-moz-border-radius: 20px !important;-webkit-border-radius: 20px !important;border-radius: 20px !important;}

.bd-50p{-moz-border-radius: 50% !important;-webkit-border-radius: 50% !important;border-radius: 50% !important;}

/****  Border Radius  ****/
.no-bd{border:none !important;box-shadow: none}
.border-bottom {border-bottom: 1px solid #EFEFEF !important;}
.border-top {border-top: 1px solid #EFEFEF !important;}
.bd-white{border-color:#fff !important;}
.bd-green{border-left: 3px solid #5CB85C;padding-left:20px;}
.bd-red{border-left: 3px solid #C9625F;padding-left:20px}
.bd-blue{border-left: 3px solid #3598DB;padding-left:20px}
.bd-t-red{border-top:4px solid #C9625F;}
.bd-t-green{border-top:4px solid #5CB85C;}
.bd-t-blue{border-top:4px solid #0090D9;}
.bd-t-dark{border-top:4px solid #2B2E33;}
.bd-t-purple{border-top:4px solid #B57EE0;}
.bd-l-red{border-left:4px solid #C9625F;}
.bd-l-green{border-left:4px solid #5CB85C;}
.bd-l-blue{border-left:4px solid #0090D9;}
.bd-l-dark{border-left:4px solid #2B2E33;}
.bd-l-purple{border-left:4px solid #B57EE0;}
.bd-b-red{border-bottom:4px solid #C9625F;}
.bd-b-green{border-bottom:4px solid #5CB85C;}
.bd-b-blue{border-bottom:4px solid #0090D9;}
.bd-b-dark{border-bottom:4px solid #2B2E33;}
.bd-b-purple{border-bottom:4px solid #B57EE0;}
.bd-facebook{border: 2px solid #3B5998;}
.bd-twitter{border: 2px solid #00ACEE;}
.bd-youtube{border: 2px solid #FF6347;}
.bd-instagram{border: 2px solid #E1306C;}
/****  Background Colors  ****/
.bg-gray  {background-color:#b6b6b6 !important; color:#000 !important; }
.bg-gray-light  {background-color:#ECECEC !important; color:#000 !important; }
.bg-red {background-color:#C75757 !important;color:#fff !important;}
.bg-white {background-color:#fff !important; color:black !important;}
.bg-green  {background-color:#18a689 !important; color:#fff !important;}
.bg-blue  {background-color:#0090D9 !important ; color:#fff !important;}
.bg-orange {background-color:#f27835 !important ; color:#fff !important;}
.bg-purple  {background-color:#B57EE0 !important; color:#fff !important;}
.bg-dark  {background-color:#2B2E33 !important; color:#fff !important;}
.bg-facebook{background-color:#3B5998 !important; color:#fff !important;}
.bg-twitter{background-color:#00ACEE !important; color:#fff !important;}
.bg-youtube{background-color:#FF6347 !important; color:#fff !important;}
.bg-instagram{background-color:#E1306C !important; color:#fff !important;}
.bg-purple-gradient  {background: #bf9bdd;background: -moz-radial-gradient(center, ellipse cover,  #bf9bdd 27%, #9e52dd 100%);background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(27%,#bf9bdd), color-stop(100%,#9e52dd));background: -webkit-radial-gradient(center, ellipse cover,  #bf9bdd 27%,#9e52dd 100%); background: -o-radial-gradient(center, ellipse cover,  #bf9bdd 27%,#9e52dd 100%);background: -ms-radial-gradient(center, ellipse cover,  #bf9bdd 27%,#9e52dd 100%);background: radial-gradient(ellipse at center,  #bf9bdd 27%,#9e52dd 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf9bdd', endColorstr='#9e52dd',GradientType=1 ); }
.bg-opacity-20 {background-color: rgba(0, 0, 0, 0.2);}
.bg-opacity-50 {background-color: rgba(0, 0, 0, 0.5);}
.bg-opacity-80 {background-color: rgba(0, 0, 0, 0.8);}
.bg-transparent{background-color: transparent; background: transparent;}

/****  Opacity  ****/
.opacity-0 {opacity:0;}
.opacity-20 {opacity:.2;}
.opacity-50 {opacity:.5;}
.opacity-70 {opacity:.7;}
.opacity-90 {opacity:.9;}


/****  Width  ****/
.width-0 {width:0 !important;}
.width-50 {width:50px !important;}
.width-90 {width:90px !important;}
.width-120 {width:120px !important;}
.width-300 {width:300px !important;}
.min-width-40  {min-width: 40px}
.width-10p {width:10% !important;}
.width-15p {width:15% !important;}
.width-20p {width:20% !important;}
.width-30p {width:30% !important;}
.width-40p {width:40% !important;}
.width-50p {width:50% !important;}
.width-60p {width:60% !important;}
.width-65p {width:65% !important;}
.width-70p {width:70% !important;}
.width-75p {width:75% !important;}
.width-80p {width:80% !important;}
.width-90p {width:90% !important;}
.width-100p{width:100% !important;}
@media (max-width: 991px) {
	.width-10p,.width-20p,.width-30p,
	.width-40p,.width-50p,.width-60p,
	.width-65p,.width-70p,.width-75p,
	.width-80p,.width-90p,.width-100p{
		width: 100% !important;
	}
}

/****  Height  ****/
.h-0 {height: 0 !important;overflow: hidden !important}
.h-20 {height: 20px !important;overflow: hidden !important}
.h-30 {height: 30px !important;overflow: hidden !important}
.h-60 {height: 60px !important;overflow: hidden !important}
.h-90 {height: 90px !important;overflow: hidden !important}
.h-40 {height: 40px !important;overflow: hidden !important}
.h-100 {height: 100px !important;overflow: hidden !important}
.h-150 {height: 150px !important;overflow: hidden !important}
.h-220 {height: 220px !important;overflow: hidden !important}
.h-250 {height: 250px !important;overflow: hidden !important}
.h-280 {height: 280px !important;overflow: hidden !important}
.h-300 {height: 300px !important;overflow: hidden !important}
.h-400 {height: 400px !important;overflow: hidden !important}
.h-590 {height: 590px !important;overflow: hidden !important}
.h-100p{height: 100% !important;overflow: hidden !important}
.h-min-100vh{ min-height: 100vh !important;}
@media (min-width: 992px){
	.h-40vh{height: 40vh !important;overflow: hidden !important}
	.h-50vh{height: 50vh !important;overflow: hidden !important}
	.h-60vh{height: 60vh !important;overflow: hidden !important}
	.h-100vh{height: 100vh !important;overflow: hidden !important}
}

.pos-rel{position:relative;}
.pos-abs {position:absolute;}
.pos-fx {position:fixed;}
.z-1000{z-index: 1000}
.z-10000{z-index: 10000}
.z-index{ z-index: 1}
.dis-inline {display:inline;}
.dis-inline-b {display:inline-block;}
.dis-block {display:block !important;}
.dis-flex{display: flex;align-content: center;align-items: center; justify-content: center;}
.f-left {float:left;}
.f-right {float:right;}
.cursor-pointer{cursor:pointer}
code {padding: 2px 8px 2px 4px;font-size: 90%;color: #2A465C;background-color: #D5E9FF;white-space: nowrap;border-radius: 4px;}
.line-separator {border-right:1px solid #DBE2E7;}
img.img-left { border: 1px solid #ccc; float: left; margin-right: 15px; padding: 5px;}
img.img-right { border: 1px solid #ccc; float: right; margin-left: 15px; padding: 5px;}
.hide {opacity: 0}
.box-sw-none{
    box-shadow: none !important;
}



/*------------------------------------------------------------------------------------*/
/*-------------------------------  GENERAL TYPOGRAPHY  -------------------------------*/

/*h1, h2, h3, h4, h5, h6 {font-family: 'Carrois Gothic', verdana, arial;font-weight: 300 !important;color:inherit}*/
a {color: #303030;  !important;}
a.active, a.default:hover {color:#303030 !important;text-decoration:none;}
.carrois {font-family: 'Carrois Gothic', sans-serif;}
.uppercase {text-transform: uppercase}
.align-center {text-align: center;}
.align-left {text-align: left;}
.align-right {text-align: right;}
.align-justify {text-align: justify;}
a, a:focus, a:hover, a:active {  outline: 0;}

/*letter spacing */
.l-space-15{
	letter-spacing: 0.15em !important;
}

.l-space-006{
	letter-spacing: -0.06em !important;
}
/*text indent*/
.t-indent{
	text-indent: 0.1em !important;
}

/*line height */
.line-h-1{
	line-height: 1px;
}
.line-h-45{
	line-height: 45px;
}
/****  Font Size  ****/
.f-11{font-size:11px !important;}
.f-12{font-size:12px !important;}
.f-14{font-size:14px !important;}
.f-15{font-size:15px !important;}
.f-16{font-size:16px !important;}
.f-18{font-size:18px !important;}
.f-20{font-size:20px !important;}
.f-25{font-size:25px !important;}
.f-32{font-size:32px !important;}
.f-40{font-size:40px !important;}
.f-45{font-size:45px !important;}
.f-50{font-size:50px !important;}
.f-60{font-size:60px !important;}
.f-65{font-size:65px !important;}
.f-80{font-size:80px !important;}
.f-100{font-size:100px !important;}
.f-150{font-size:150px !important;}

/****  Font Weight  ****/
.w-300 {font-weight: 300 !important;}
.w-500 {font-weight:500 !important;}
.w-600 {font-weight:600 !important;}
.w-700 {font-weight:700 !important;}
.w-800{font-weight: 800 !important;}
.w-900{font-weight: 900 !important;}

/****  Font Color  ****/
.c-red{color: #EE2824 !important;}
.c-blue{color:#00A2D9 !important;}
.c-purple {color:#B57EE0 !important;}
.c-brown{color:#9E7B2E !important;}
.c-orange{color:#ec8521 !important;}
.c-green {color:#18A689 !important;}
.c-gray-light {color:#dadada !important;}
.c-gray {color:#8F8F8F !important;}
.c-dark {color:#343434 !important;}
.c-white {color:#fff !important;}
.c-brand{color: #9b9b9b !important;}
.c-persian {color: #5cc7c5 !important;}
.transparent-color {color: rgba(0, 0, 0, 0.2);}
.line-through{text-decoration: line-through;}
.t-ellipsis {text-overflow: ellipsis;display: block;white-space: nowrap;overflow: hidden;}
.asterisk {color: #D9534F}
.help-block {color: #AFAAAA;font-weight: 500;font-size: 12px;}


.label-dark {background-color: rgba(0, 0, 0, 0.6);padding: .4em .8em .5em;}
label.required:after {content: '*';color: #FF5757;margin-left: 2px;}
.dropdown-menu>li>a.no-option {padding: 0;height: 0;}

h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

h1, h2  {
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 700;
    text-transform: uppercase;
}

h3{
	font-size: 24px;
}

.center-block{
	float: none;
}

/*hide all animated initially.....*/
.animated{
	visibility: hidden;
}
