@media (max-width: 480px) {
  .front-bg {
    background-image: url(../img/homepage/mobile-bg.jpg);
  }
  .action-title {
    font-size: 20px;
  }
  .find-couple-title {
    display: none;
  }
  .find-couple {
    width: 100%;
  }
  .div-align {
    display: none;
  }
  .mobile-action {
    display: block;
  }
  .section-title {
    font-size: 20px;
  }
  .logo .brand_logo {
    width: 60%;
  }
  /*.call-to-action {
    padding-top: 20px;
    padding-bottom: 30px;
    width: 70%;
  }
 
  .find-couple-title {
    font-size: 18px;
    color: #333;
  }
  .div-align div {
    padding-bottom: 5px;
  }
  .div-align div:nth-child(3) {
    padding-bottom: 15px;
  }
  .find-couple {
    background-color: white;
  }*/
}