/*@media only screen and (max-width: 767px) {


  .navbar-collapse{
    background-color:#f56262;
    position: fixed;
    top: 0;
    transition:all 0.8s ease-out;
    width: 100%;
    left: 700px;
  }
  .navbar-inverse .navbar-nav>li>a {
  color: white;
  }
  .logo .brand_logo {
    width: 60%;
  }
  .navbar-nav li a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
@media (max-width: 320px) {
}
@media (max-width: 480px) {
  .front-bg {
    background-size: contain;
  }
  .call-to-action {
    padding-top: 20px;
    padding-bottom: 30px;
    width: 70%;
  }
  .action-title {
    font-size: 20px;
  }
  .find-couple-title {
    font-size: 18px;
    color: #333;
  }
  .div-align div {
    padding-bottom: 5px;
  }
  .div-align div:nth-child(3) {
    padding-bottom: 15px;
  }
  .find-couple {
    background-color: white;
  }
}
@media (min-width: 768px) and (max-width: 770px) {
  .call-to-action {
    padding-top: 150px;
    padding-bottom: 115px;
  }
  .find-couple-title {
    color: #333;
  }
  .find-couple {
    background-color: white;
  }
  .div-align div {
    padding-bottom: 5px;
  }
  .div-align div:nth-child(3) {
    padding-bottom: 15px;
  }
  .front-bg {
    background-size: contain;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  
}
*/