.navbar-toggler {
  background-color: #333;
}
.logo .brand_logo {
    width: 90%;
  }
.front-bg {
  background-image: url(../img/homepage/home-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh - 62px );
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
}
.find-couple {
	position: absolute;
  width: 100%;
	bottom: 0;
}
.action-title {
  font-size: 44px;
  /*font-family: PTSans-Caption;*/
  color: white;
  line-height: 1;
}
.action-btn {
  color: white;
  background-color: #f56262;
}
.action-sub-title {
  color: white;
  font-size: 16px;
}
.action-sub-title span {
  color: #5cc7c5;
}
.mobile-action {
	display: none;
}
.find-couple {
  background-color: rgba(0,0,0,0.16);
}
.find-couple-title {
  font-size: 32px;
  color: white;
}
/*.div-align {
  width: 80%;
  margin: 0 auto;
}*/
input[type=text] {
	background-color: snow;
}


.how-it-works {
  background-image: url(../img/icons/border-left1.png), url(../img/icons/border-right1.png);
  background-position: left 0, right 0;
  background-repeat: no-repeat;
  display: block; /* make the link background clickable */
  border-bottom: 1px solid #e1e1e1;

}
.section-title {
  font-size: 32px;
  font-weight: 500;
  color: #ef4950;
}
.section-title::after {
  content: "";
  display: block;
  height: 30px;
  background-image: url(../img/icons/border-bottom.png);
  background-repeat: no-repeat;
  background-position: center bottom;
}
.title {
  content: "";
  display: block;
  height: 30px;
  border-color: red;
}
.text-border {
  border-bottom: 4px solid #f56262;
  width: 28%;
  margin: 0 auto;
}

/*Featured couple section*/
.section-border {
  border-bottom: 1px solid #e1e1e1;
}
.couple-details {
  background-image: url(../img/icons/border-top2.png), url(../img/icons/border-bottom2.png);
  background-position: left 0, right 220px;
  background-repeat: no-repeat;
  display: block; 
}
.text-color {
  color: #f56262;
}
.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}
.list-inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

/*Action Hook*/
.action-hook {
  background-image: url(../img/icons/border-bottom-left.png), url(../img/icons/border-bottom-right.png);
  background-position: left 90px, right 90px;
  background-repeat: no-repeat;
  display: block; 
}

/*Footer Section*/
footer {
  background-color: #f56262;
  color: white;
}