/** Navbar Begin **/
.navbar {
  border-radius: 0px !important;
  background-color: #ffffff;
  border: none;
  margin-bottom: 0;
}
.navbar-toggle {
  background-color: #333;
}
.navbar-nav li a {
  padding-top: 30px;
  padding-bottom: 30px;
}
/** Navbar Begin **/
.indexcity {
  z-index: 9999;
}

.right {
    right: 0 !important;
    left: 0 !important;
}
/** Front Background */
.front-bg {
  background-image: url(../img/homepage/home-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.call-to-action {
  margin: 0 auto;
  width: 55%;
  padding-top: 220px;
  padding-bottom: 130px;
}
.action-title {
  font-size: 44px;
  /*font-family: PTSans-Caption;*/
  color: white;
  line-height: 1;
}
.action-btn {
  color: white;
  background-color: #f56262;
}
.action-sub-title {
  color: white;
  font-size: 16px;
}
.action-sub-title span {
  color: #5cc7c5;
}
.find-couple {
  background-color: rgba(0,0,0,0.16);
}
.find-couple-title {
  font-size: 32px;
  color: white;
}
.div-align {
  width: 80%;
  margin: 0 auto;
}

/*How it works section*/
.how-it-works {
  background-image: url(../img/icons/border-left1.png), url(../img/icons/border-right1.png);
  background-position: left 0, right 0;
  background-repeat: no-repeat;
  display: block; /* make the link background clickable */
  border-bottom: 1px solid #e1e1e1;

}
.section-title {
  font-size: 32px;
  font-weight: 500;
  color: #ef4950;
}
.section-title::after {
  content: "";
  display: block;
  height: 30px;
  background-image: url(../img/icons/border-bottom.png);
  background-repeat: no-repeat;
  background-position: center bottom;
}
.title {
  content: "";
  display: block;
  height: 30px;
  border-color: red;
}
.text-border {
  border-bottom: 4px solid #f56262;
  width: 28%;
  margin: 0 auto;
}

/*Featured couple section*/
.section-border {
  border-bottom: 1px solid #e1e1e1;
}
.couple-details {
  background-image: url(../img/icons/border-top2.png), url(../img/icons/border-bottom2.png);
  background-position: left 0, right 220px;
  background-repeat: no-repeat;
  display: block; 
}
.text-color {
  color: #f56262;
}

/*Vendor Section*/


/*Action Hook*/
.action-hook {
  background-image: url(../img/icons/border-bottom-left.png), url(../img/icons/border-bottom-right.png);
  background-position: left 90px, right 90px;
  background-repeat: no-repeat;
  display: block; 
}

/*Footer Section*/
footer {
  background-color: #f56262;
  color: white;
}